.container{
    height: fit-content;
    width: fit-content;
    border: 2px solid black;
    border-radius: 16px;
    margin: 0 auto;
    background-color: grey;
}

button {
    font-size: 24px;
    width: 25%;
    border: 1px solid black;
    border-radius: 6px;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#clear {
    margin-top: 25px;
    margin-bottom: 25px;
    width: 50%;
    margin-left: auto;
}

.row{
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

#display {
    margin-top: 30px;
    margin-bottom: 60px;
    width: 300px;
    overflow-x: auto;
    overflow-y: hidden;
    height: 30px;
    background-color:rgb(39, 46, 41);
    color: greenyellow;
    padding: 20px;
    font-size: 24px;
    text-align: center;
    border: 2px solid black;
}

